body{
    text-align: center;
}
#sample{
    display: inline-block;
    text-align: left;
    margin-left: 50px;
    font-size: 20px;
}
#text{
    position: relative;
    top: -10px;
    font-size: 25px;
}
#text2{
    font-size: 40px;
}
#blackcircle{
    display: inline-block;
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#blacknum{
    position: relative;
    top: -10px;
    margin-left: 20px;
}
#whitecircle{
    display: inline-block;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px black;
    margin-left: 20px;
}
#whitenum{
    position: relative;
    top: -10px;
    margin-left: 20px;
}
button{
    background-color: green;
    border: solid 2px black;
    width: 100px;
    height: 100px;
    padding-bottom: 15px;
    font-size: 69px;
}
button:hover{
    background-color: #d3d3d3;
}
:disabled{
    pointer-events: none;
    background-color: green;
    color: black;
    cursor: not-allowed;
}
.black{
    background-color: #006400;
    color: black;
}
.white{
    background-color: #2e8b57;
    color: black;
}
@media screen and (max-width: 480px){
    button{
        background-color: green;
        border: solid 1px black;
        width: 40px;
        height: 40px;
        padding-bottom: 5px;
        font-size: 28px;
    }
    #sample{
        margin-left: 30px;
        font-size: 15px;
    }
    #submit{
        font-size: 12px;
    }
    #text{
        top: -5px;
        font-size: 20px;
    }
    #text2{
        font-size: 30px;
    }
    #blackcircle{
        width: 35px;
        height: 35px;
    }
    #whitecircle{
        width: 35px;
        height: 35px;
    }
    #blacknum{
        top: -7px;
        margin-left: 15px;
    }
    #whitenum{
        top: -7px;
        margin-left: 15px;
    }
}
