body{
    text-align: center;
}
#sample{
    display: inline-block;
    text-align: left;
    font-size: 20px;
}
#assist{
    margin-right: 5px;
    margin-bottom: 20px;
}
#submit, #pass{
    display: inline-block;
    position: relative;
    top:-3px;
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 15px;
}
#text{
    position: relative;
    top: -5px;
    font-size: 30px;
}
#text2{
    font-size: 40px;
}
#blackcircle{
    display: inline-block;
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#blacknum{
    position: relative;
    top: -10px;
    margin-left: 20px;
}
#whitecircle{
    display: inline-block;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px black;
    margin-left: 40px;
}
#whitenum{
    position: relative;
    top: -10px;
    margin-left: 20px;
}
button{
    display: inline-block;
    background-color: green;
    border: solid 2px black;
    width: 100px;
    height: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 100px;
}
button:hover{
    background-color: #d3d3d3;
}
:disabled{
    pointer-events: none;
    background-color: green;
    color: black;
    cursor: not-allowed;
}
.black{
    background-color: #006400;
    color: black;
}
.white{
    background-color: #2e8b57;
    color: black;
}
