body{
    text-align: center;
    background-color: #dcdcdc;
    margin-bottom: 20px;
}
#sample{
    display: inline-block;
    text-align: left;
    margin-left: 50px;
    font-size: 20px;
}
#pass{
    padding-right: 15px;
    padding-left: 15px;
}
#text{
    position: relative;
    top: -5px;
    font-size: 25px;
}
#text2{
    font-size: 40px;
}
#blackcircle{
    display: inline-block;
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#blackcircle2{
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 2px;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#blacknum{
    position: relative;
    top: -10px;
    margin-left: 20px;
}
#whitecircle{
    display: inline-block;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px black;
    margin-left: 20px;
}
#whitecircle2{
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 2px;
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px black;
}
#whitenum{
    position: relative;
    top: -10px;
    margin-left: 20px;
}
button{
    display: inline-block;
    background-color: green;
    border: solid 2px black;
    width: 100px;
    height: 100px;
    padding-bottom: 15px;
}
:hover{
    background-color: #d3d3d3;
}
:disabled{
    pointer-events: none;
    background-color: green;
    color: black;
    cursor: not-allowed;
}
button.kuro{
    background: radial-gradient(circle, black calc(90px / 2 - 1px), green calc(90px / 2));
    height: 100px;
    width: 100px;
}
button.shiro{
    background: radial-gradient(circle, white calc(90px / 2 - 1px), green calc(90px / 2));
    height: 100px;
    width: 100px;
}
.black{
    background-color: #006400;
    color: black;
}
.white{
    background-color: #2e8b57;
    color: black;
}
@media screen and (max-width: 780px){
    button{
        display: inline-block;
        background-color: green;
        border: solid 1px black;
        width: 40px;
        height: 40px;
        padding-bottom: 5px;
    }
    button.kuro{
        background: radial-gradient(circle, black calc(35px / 2 - 1px), green calc(35px / 2));
        height: 40px;
        width: 40px;
    }
    button.shiro{
        background: radial-gradient(circle, white calc(35px / 2 - 1px), green calc(35px / 2));
        height: 40px;
        width: 40px;
    }
    #sample{
        margin-left: 30px;
        font-size: 15px;
    }
    #submit, #pass{
        font-size: 12px;
    }
    #pass{
        padding-right: 12px;
        padding-left: 12px;
    }

    #text{
        font-size: 20px;
    }
    #text2{
        font-size: 30px;
    }
    #blackcircle{
        width: 35px;
        height: 35px;
    }
    #blackcircle2{
        top: 3px;
    }
    #whitecircle{
        width: 35px;
        height: 35px;
    }
    #whitecircle2{
        top: 3px;
    }
    #blacknum{
        top: -7px;
        margin-left: 15px;
    }
    #whitenum{
        top: -7px;
        margin-left: 15px;
    }
}	
