body{
    text-align: center;
    margin-bottom: 50px;
    background-color: #dcdcdc
}
#sample{
    display: inline-block;
    text-align: left;
    margin-left: 50px;
    font-size: 20px;
}
#pass{
    padding-right: 15px;
    padding-left: 15px;
}
#text{
    position: relative;
    top: -10px;
    font-size: 25px;
}
#text2{
    font-size: 40px;
}
#blackcircle, #whitecircle{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#blackcircle{
    background: black;
}
#whitecircle{
    background: white;
    border: solid 1px black;
    margin-left: 20px;
}
#blackcircle2, #whitecircle2{
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 2px;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#blackcircle2{
    background: black;
}
#whitecircle2{
    background: white;
    border: solid 1px black;
}
#num{
    position: relative;
    top: -10px;
    margin-left: 20px;
}
button{
    display: inline-block;
    background-color: green;
    border: solid 2px black;
    width: 100px;
    height: 100px;
    padding-bottom: 15px;
}
button:hover{
    background-color: #d3d3d3;
}
button:disabled{
    pointer-events: none;
    background-color: green;
    color: black;
    cursor: not-allowed;
}
button.kuro, button.shiro{
    height: 100px;
    width: 100px;
}
button.kuro{
    background: radial-gradient(circle, black calc(90px / 2 - 1px), green calc(90px / 2));
}
button.shiro{
    background: radial-gradient(circle, white calc(90px / 2 - 1px), green calc(90px / 2));
}
button.black, button.white{
    height: 100px;
    width: 100px;
}
button.black{
    background: radial-gradient(black, green 30%);
}
button.white{
    background: radial-gradient(white, green 30%);
}
@media screen and (max-width: 780px){
    button{
        border: solid 1px black;
        width: 40px;
        height: 40px;
        padding-bottom: 5px;
    }
    button.kuro, button.shiro{
        height: 40px;
        width: 40px;
    }
    button.kuro{
        background: radial-gradient(circle, black calc(35px / 2 - 1px), green calc(35px / 2));
    }
    button.shiro{
        background: radial-gradient(circle, white calc(35px / 2 - 1px), green calc(35px / 2));
    }
    button.black, button.white{
        height: 40px;
        width: 40px;
    }
    #sample{
        position: absolute;
        left: 18%;
        font-size: 15px;
    }
    #submit, #pass{
        font-size: 12px;
    }
    #pass{
        padding-right: 13px;
        padding-left: 13px;
    }
    #text{
        top: -5px;
        font-size: 20px;
    }
    #text2{
        font-size: 30px;
    }
    #board{
        margin-top: 190px;
    }
    #blackcircle, #whitecircle{
        width: 35px;
        height: 35px;
    }
    #blackcircle2, #whitecircle2{
        top: 3px;
    }
    #num{
        top: -7px;
        margin-left: 10px;
    }
}
@media screen and (orientation: landscape) {
    #sample{
    	left: 32%;
    }
}
